<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="useGeneratedKeys" value="false"/>
        <setting name="defaultExecutorType" value="REUSE"/>
        <setting name="mapUnderscoreToCamelCase" value="false"/>
        <!--<setting name="useColumnLabel" value="true"/>-->
    </settings>

    <plugins>
        <plugin interceptor="com.widetns.webapp.framework.mybatis.interceptor.SqlExecutorInterceptor"/>
    </plugins>

</configuration>